name: Build/Release

on:
  push:
    branches:
      - main
      - master

jobs:
  build-extension:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Dependencies
        run: npm install

      - name: Build React App
        run: npm run build

      - name: Build Electron App (EXE)
        run: npm run dist
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload EXE Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Revolutionary-Wallpaper-Exe
          path: dist_electron/*.exe
